#header,
#accounts,
#links,
#law,
#changes,
#contact {
    margin-top: 5%;
    margin-bottom: 5%
}

#accounts > h2,
#links > h2,
#law > h2,
#changes > h2,
#contact > h2 {
    margin-bottom: 1%
}

#header > h1 {
    text-align: center;
    margin-bottom: 3%
}


/** SCROLLBAR **/

/* width */
::-webkit-scrollbar {
    width: 3px
}

::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey; 
    border-radius: 10px
}

::-webkit-scrollbar-thumb {
    background: rgba(233, 30, 99, 1); 
    border-radius: 10px
}
  
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: rgba(233, 30, 99, .7)
}