//Icons
link(rel='stylesheet', href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css")
//Bootstrap
link(rel='stylesheet', href="https://bootswatch.com/4/materia/bootstrap.min.css")
//Animations
link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.7.0/animate.min.css")
//Lazyload
style img[src=""]{filter: blur(10px)}img{transition: all .8s}