script(src="https://code.jquery.com/jquery-3.4.1.min.js", integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=", crossorigin="anonymous")
script(src="https://bootswatch.com/_vendor/popper.js/dist/umd/popper.min.js")
script(src="https://bootswatch.com/_vendor/bootstrap/dist/js/bootstrap.min.js")
script(src="https://clonalejandro.github.io/cdn/request.js")
script(src="https://clonalejandro.github.io/lazyload/lazyload.min.js")
script(src="assets/js/autocomplete.js")
script new LazyLoad()